<?php

return [
    'components' => [
        'db' => [
            'dsn' => getenv('TEST_DB_DSN'),
            'username' => getenv('DB_USERNAME'),
            'password' => getenv('DB_PASSWORD'),
        ],
    ],
];
